{{!-- <h1>{{title}}</h1>
<p>Cinema to {{title}}</p> --}}

<html>
  <head>
    <meta charset='UTF-8' />
    <title>Movie Database</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>

    <img src='/images/cinema.jpg' />
    <div class='hero-image'>
      <div class='hero-text'>
        <h1>Cinema Ironhack</h1>
        <button onclick="location.href='/movies'">Check the movies!</button>
      </div>
    </div>
  </body>
</html>